<a href="https://colab.research.google.com/github/dj-1087/Algorithm-TIL-/blob/master/BaekJoon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 2557

In [ ]:
print("Hello World!")

Hello World!

### 1000

In [ ]:
a,b = map(int, input().split())
print(a+b)

1 2
3

### 2558

In [ ]:
a = int(input())
b = int(input())
print(a+b)

1
2
3

### 10950

In [ ]:
cnt = int(input())
result = [0 for i in range(cnt)]
for i in range(cnt):
    result[i] = sum(map(int, input().split()))
for i in range(cnt):
    print(result[i])

5
1 1
2 3
3 4
9 8
5 2
2
5
7
17
7

### 10951

In [ ]:
while(True):
    try:
        print(sum(map(int, input().split())))
    except:
        break

### 10952

In [ ]:
while(True):
    a, b = map(int, input().split())
    if(a==b & b==0):
        break
    print(a+b)

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

### 10953

In [ ]:
t = int(input())
for i in range(t):
    a, b = map(int, input().split(","))
    print(a+b)

5
1, 1
2
2, 3
5
3, 4
7
9, 8
17
5, 2
7

### 11021

In [ ]:
t = int(input())
for i in range(t):
    a, b = map(int,input().split())
    print(f"Case #{i+1}: {a+b}")

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

### 11022

In [ ]:
t = int(input())
for i in range(t):
    a, b = map(int,input().split())
    print(f"Case #{i+1}: {a} + {b} = {a+b}")

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
4 5
Case #4: 4 + 5 = 9
5 2
Case #5: 5 + 2 = 7

### 11718

In [ ]:
while(True):
    try:
        print(input())
    except:
        break

SyntaxError: ignored

### 11719

In [ ]:
while(True):
    try:
        print(input())
    except:
        break

                Hello
                Hello
Baekjoon
Baekjoon
Baekjoon         Online Judge
Baekjoon         Online Judge

### 11720

In [ ]:
cnt = int(input())
n = input()[0:cnt]
result = 0
for i in range(cnt):
    result += int(n[i])
print(result)

5
54321234
15

### 11721

In [ ]:
string = input()
sub = ""
for i in range(len(string)):
    sub += string[i]
    if(len(sub)==10):
        print(sub)
        sub = ""
print(sub)

BaekjoonOnlineJudge
BaekjoonOn
lineJudge

### 2741

In [ ]:
n = int(input())
for i in range(n):
    print(i+1)

5
1
2
3
4
5

### 2742

In [ ]:
n = int(input())
for i in range(n):
    print(n-i)

5
5
4
3
2
1

### 2739

In [ ]:
n = int(input())
for i in range(1,10):
    print(f"{n} * {i} = {n*i}")

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

### 1924

In [ ]:
days = [31,28,31,30,31,30,31,31,30,31,30,31]
week = ["MON","TUE","WED","THU","FRI","SAT","SUN"]
m,d = map(int, input().split())
for i in range(m-1):
    d += days[i]
week_idx = d%7
print(week[int(week_idx-1)])

12 25
TUE

### 8393

In [ ]:
sum = 0
for i in range(int(input())):
    sum += (i+1)
print(sum)

3
6

### 10818

In [ ]:
input()
max = -1000001
min = 1000001
for i in map(int, input().split()):
    if i>max:
        max = i
    if i<min:
        min = i
print(f"{min} {max}")

5
20 10 35 30 7
7 35

### 2438

In [ ]:
n = int(input())
for i in range(n):
    print("*"*(i+1))

5
*
**
***
****
*****

### 2439

In [ ]:
n = int(input())
for i in range(n):
    print(" "*(n-i-1)+"*"*(i+1))

5
    *
   **
  ***
 ****
*****

### 2440

In [ ]:
n = int(input())
for i in range(n):
    print("*"*(n-i))

5
*****
****
***
**
*

### 2441

In [89]:
n = int(input())
for i in range(n):
    print(" "*i+"*"*(n-i))

5
*****
 ****
  ***
   **
    *

### 2442

In [96]:
n = int(input())
for i in range(n):
    print(" "*(n-i-1)+"*"*(2*i+1)+" ")

5
    *
   ***
  *****
 *******
*********

### 2445

In [104]:
n = int(input())
for i in range(n):
    print("*"*(i+1)+" "*(2*n-2*i-2)+"*"*(i+1))
for i in range(n):
    print("*"*(n-i-1)+" "*(2*i+2)+"*"*(n-i-1))

5
*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

### 2522

In [105]:
n = int(input())
for i in range(n):
    print(" "*(n-i-1)+"*"*(i+1))
for i in range(n):
    print(" "*(i+1)+"*"*(n-i-1))

5
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

### 2446

In [112]:
n = int(input())
for i in range(n):
    print(" "*i+"*"*(2*n-2*i-1))
for i in range(1,n):
    print(" "*(n-i-1)+"*"*(2*i+1))

5
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

### 10991

In [3]:
N = int(input())

for i in range(1, N+1):
    print(' '* (N-i), end = '')
    for j in range(i): 
        print('*', end = ' ')
    print()

5
    *
   * *
  * * *
 * * * *
* * * * *

### 10992

In [8]:
N = int(input())
for i in range(1,N+1):
    if i==N:
        print("*"*(2*N-1))
        break
    if i==1:
        print(" "*(N-i)+"*")
        continue
    print(" "*(N-i)+"*"+" "*(2*i-3)+"*")

5
    *
   * *
  *   *
 *     *
*********

### 1463