<a href="https://colab.research.google.com/github/dj-1087/Algorithm-TIL-/blob/master/BaekJoon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 2557

In [ ]:
print("Hello World!")

Hello World!

### 1000

In [ ]:
a,b = map(int, input().split())
print(a+b)

1 2
3

### 2558

In [ ]:
a = int(input())
b = int(input())
print(a+b)

1
2
3

### 10950

In [ ]:
cnt = int(input())
result = [0 for i in range(cnt)]
for i in range(cnt):
    result[i] = sum(map(int, input().split()))
for i in range(cnt):
    print(result[i])

5
1 1
2 3
3 4
9 8
5 2
2
5
7
17
7

### 10951

In [ ]:
while(True):
    try:
        print(sum(map(int, input().split())))
    except:
        break

### 10952

In [ ]:
while(True):
    a, b = map(int, input().split())
    if(a==b & b==0):
        break
    print(a+b)

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

### 10953

In [ ]:
t = int(input())
for i in range(t):
    a, b = map(int, input().split(","))
    print(a+b)

5
1, 1
2
2, 3
5
3, 4
7
9, 8
17
5, 2
7

### 11021

In [34]:
t = int(input())
for i in range(t):
    a, b = map(int,input().split())
    print(f"Case #{i+1}: {a+b}")

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

### 11022

In [35]:
t = int(input())
for i in range(t):
    a, b = map(int,input().split())
    print(f"Case #{i+1}: {a} + {b} = {a+b}")

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
4 5
Case #4: 4 + 5 = 9
5 2
Case #5: 5 + 2 = 7

### 11718

In [38]:
while(True):
    try:
        print(input())
    except:
        break

SyntaxError: ignored

### 11719

In [41]:
while(True):
    try:
        print(input())
    except:
        break

                Hello
                Hello
Baekjoon
Baekjoon
Baekjoon         Online Judge
Baekjoon         Online Judge

### 11720

In [45]:
cnt = int(input())
n = input()[0:cnt]
result = 0
for i in range(cnt):
    result += int(n[i])
print(result)

5
54321234
15

### 11721

In [52]:
string = input()
sub = ""
for i in range(len(string)):
    sub += string[i]
    if(len(sub)==10):
        print(sub)
        sub = ""
print(sub)

BaekjoonOnlineJudge
BaekjoonOn
lineJudge

### 2741

In [53]:
n = int(input())
for i in range(n):
    print(i+1)

5
1
2
3
4
5